.container-results-section {
  display: flex;
  flex-direction: column;
  .challenger-outputs {
    display: flex;
  }
  h3 {
    display: block;
    border: 1px solid red;
  }
  aside {
    width: 50%;
    text-align: center;
    border: 1px solid red;
  }
}
