@import "../../_styles/globals.scss";

.NumberGuesser {
  .header-primary {
    border: 1px solid red;
    text-align: center;
    height: 15vh;
  }
  .main-section {
    display: flex;
    border: 1px solid green;
  }
  .inputs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    background-color: lightgrey;
    width: 50vw;
    min-height: 85vh;
  }
  .outputs-section {
    border: 1px solid orange;
    width: 50vw;
    min-height: 85vh;
  }
}
